body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orangered;
}
.purple-color{
    color: purple;
    font-size: 30px;
}
.flexible-part{
    display: flex;
    background-image: url(frame-1.jpg);
    background-repeat: no-repeat;
}
.flexible-part-2{
    display: flex;
    background-image: url(frame-3.jpg);
    background-repeat: no-repeat;
    padding-left: 50px;
}
.half-width{
    width: 50%;
    font-size: 25px;
    padding-bottom: 5px;
}
.half-width img{
    width: 80%;
    padding-left: 3%;
    margin-top: 2%;  
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(purple, rgb(51, 119, 119));
    color: white;
    padding: 10px 30px ;
    font-weight: 700;
    border-radius: 8px;
}
.button-link-2{
    text-decoration: none;
    background-image: linear-gradient(rgb(30, 158, 30), rgb(23, 23, 151));
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 15px;
}
.border-1{
    color: black;
    border-bottom: 5px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    
}